.wd-search-tuiter {
  top: 10px;
  left: 20px;
}

.wd-bold-text {
  font-size: 15px;
  font-weight: bold;
  color: black;
}

.wd-cog {
  padding-left: 48px;
}

.wd-center {
  display: flex;
  align-items: center;
}

.active i {
  color: white;
}