/*body {*/
/*  font-family: "Arial";*/
/*  background-color: black;*/
/*  color: white;*/
/*display: flex;*/
/*justify-content: center;*/
/*}*/
.wd-body {
  font-family: "Arial";
  background-color: black;
  color: white;
}

.wd-header {
  background-color: black;
  width: 650px;
  height: 132px;
}

.wd-solid-header-borders {
  border: 1px solid rgb(47, 51, 54);
}

.wd-left-margin-16 {
  margin-left: 16px;
}

.wd-searchbar {
  margin-top: 12px;
  margin-bottom: 0px;
  width: 630px;
  height: 50px;
  padding: 0px;
  border-color: rgb(47, 51, 54);
}

.wd-search {
  float: left;
  margin: 0px;
  padding: 0px;
  width: 502px;
  height: 53px;
  border-radius: 50px;
  background-color: darkgray;
}

.fa-search {
  margin-left: 30px;
  margin-right: 0px;
  margin-top: 20px;
  font-size: 15px;
  padding: 0px;
  color: rgb(110, 118, 125);
}

.wd-search-tuiter {
  margin-left: 10px;
  margin-right: 0px;
  padding: 0;
  width: 400px;
  height: 50px;
  color: white;
  font-size: 15px;
  background-color: darkgray;
  border-style: none;
}

.wd-search-setting {
  float: right;
}

.fa-gear {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 25px;
  margin-right: 12px;
  padding: 0px;
  color: rgb(29,161,242);
}

.wd-solid-borders {
  border-top: 1px solid rgb(47, 51, 54);
  border-left: 1px solid rgb(47, 51, 54);
  border-right: 1px solid rgb(47, 51, 54);
  border-bottom: 1px solid rgb(47, 51, 54);
}

.wd-separator {
  width: 650px;
  height: 10px;
}

.wd-float-done {
  clear: both;
}

/*input:focus {*/
/*  outline: none;*/
/*}*/

.wd-nav-tabs {
  color: rgb(29, 161, 242);
  font-size: 15px;
  margin-top: 16px;
  margin-bottom: 0px;
  padding: 16px;
  width: 650px;
  height: 42px;
  margin-right: 15px;
}

/*a:visited {*/
/*  color: inherit;*/
/*}*/

.wd-nav-tabs .wd-nav-topic {
  font-size: 15px;
  padding: 16px;
  text-decoration: none;
  color: rgb(110, 118, 125);
  margin-right: 15px;
}

.wd-nav-tabs .wd-topic-selected {
  color: rgb(29, 161, 242);
  font-size: 15px;
  text-decoration: none;
  padding-bottom: 16px;
  margin-left: 5px;
  margin-right: 15px;
  border-bottom: 5px solid rgb(29, 161, 242);
}



.wd-trending-solid-borders {
  border-top: 0px solid rgb(47, 51, 54);
  border-left: 1px solid rgb(47, 51, 54);
  border-right: 1px solid rgb(47, 51, 54);
  border-bottom: 0px solid rgb(47, 51, 54);
}

.wd-trending {
  background-color: black;
  width: 650px;
}

.wd-trending-dot-button-white {
  float: right;
  background-color: black;
  color: rgb(255, 255, 255);
  border: 0px none;
  margin-right: 16px;
  font-size: 15px;
}

.wd-trending-dot-button {
  float: right;
  background-color: black;
  color: rgb(110, 118, 125);
  border: 0px none;
  margin-right: 16px;
  font-size: 15px;
}



.wd-trending p {
  margin: 10px 10px 10px 16px;
}

.wd-trending-topic {
  font-size: 13px;
  color: rgb(110, 118, 125);
}

.wd-trending-title {
  font-size: 15px;
  color: rgb(255, 255, 255);
}

.wd-trending-float-left {
  float: left
}

.fa-check-circle {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 15px;
  /*margin-right: 5px;*/
  padding: 0px;
  color: rgb(255,255,255);
}

.wd-trending-img {
  float: right;
  width: 100px;
  height: 100px;
  margin-right: 16px;
  /*margin-left: 0px;*/
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
}

.wd-nyt-icon {
  width: 10px;
  height: 12px;
}

.wd-bloomberg-icon {
  width: 12px;
  height: 12px;
  border-radius: 45px;
}

::placeholder {
  color: rgb(110, 118, 125)
}




/*.wd-nav-tabs {*/
/*!*only text underline && space between text (add margin *!*/
/*  width: 100%;*/
/*  color: rgb(29,161,242);*/
/*  padding: 0px;*/
/*}*/

/*.wd-nav-tabs li {*/
/*  list-style-type: none;*/
/*  display: inline-block;*/
/*}*/

/*.wd-nav-tabs .wd-selected {*/
/*  border-bottom: solid 4px rgb(29,161,242);*/
/*}*/





/*.grid-col-third-page {*/
/*  width: 33%;*/
/*  float: left;*/
/*}*/

/*.grid-col-two-thirds-page {*/
/*  width: 67%;*/
/*  float: left;*/
/*}*/

/*.grid-col-left-sidebar {*/
/*  width: 20%;*/
/*  float: left;*/
/*}*/

/*.grid-col-main-content {*/
/*  width: 60%;*/
/*  float: left;*/
/*}*/

/*.grid-col-right-sidebar {*/
/*  width: 20%;*/
/*  float: left;*/
/*}*/
